In [1]:
import pandas as pd
chipotle = pd.read_csv('C:/Users/smrit/Downloads/chipotle.csv')

In [2]:
chipotle

,order_id,quantity,item_name,choice_description,item_price,Unnamed: 5
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,NaN
1,1,1,Izze,[Clementine],3.39,NaN
2,1,1,Nantucket Nectar,[Apple],3.39,NaN
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,NaN
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,NaN
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,NaN
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,NaN
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,NaN
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,NaN

In [3]:
chipotle.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [4]:
chipotle.item_price

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [5]:
print(max(chipotle.order_id))

1834

In [6]:
revenue = 0

for i in range(len(chipotle.item_price)):
    x = int(chipotle.item_price[i])
    revenue += x
    
print(revenue)

32052

In [7]:
ordernum = {}

for i in range(len(chipotle.item_name)):
    q = chipotle.item_name[i]
    p = chipotle.quantity[i]
    if q not in ordernum:
        ordernum[q] = p
    else:
        ordernum[q] += p
        
print(ordernum)
print(max(ordernum.values()))

{'Chips and Fresh Tomato Salsa': 130, 'Izze': 20, 'Nantucket Nectar': 29, 'Chips and Tomatillo-Green Chili Salsa': 33, 'Chicken Bowl': 761, 'Side of Chips': 110, 'Steak Burrito': 386, 'Steak Soft Tacos': 56, 'Chips and Guacamole': 506, 'Chicken Crispy Tacos': 50, 'Chicken Soft Tacos': 120, 'Chicken Burrito': 591, 'Canned Soda': 126, 'Barbacoa Burrito': 91, 'Carnitas Burrito': 60, 'Carnitas Bowl': 71, 'Bottled Water': 211, 'Chips and Tomatillo Green Chili Salsa': 45, 'Barbacoa Bowl': 66, 'Chips': 230, 'Chicken Salad Bowl': 123, 'Steak Bowl': 221, 'Barbacoa Soft Tacos': 25, 'Veggie Burrito': 97, 'Veggie Bowl': 87, 'Steak Crispy Tacos': 36, 'Chips and Tomatillo Red Chili Salsa': 50, 'Barbacoa Crispy Tacos': 12, 'Veggie Salad Bowl': 18, 'Chips and Roasted Chili-Corn Salsa': 18, 'Chips and Roasted Chili Corn Salsa': 23, 'Carnitas Soft Tacos': 40, 'Chicken Salad': 9, 'Canned Soft Drink': 351, 'Steak Salad Bowl': 31, '6 Pack Soft Drink': 55, 'Chips and Tomatillo-Red Chili Salsa': 25, 'Bowl': 4, 'Burrito': 6, 'Crispy Tacos': 2, 'Carnitas Crispy Tacos': 8, 'Steak Salad': 4, 'Chips and Mild Fresh Tomato Salsa': 1, 'Veggie Soft Tacos': 8, 'Carnitas Salad Bowl': 6, 'Barbacoa Salad Bowl': 10, 'Salad': 2, 'Veggie Crispy Tacos': 1, 'Veggie Salad': 6, 'Carnitas Salad': 1}
761

In [8]:
chipotle.quantity.astype('str').astype('int')

0       1
1       1
2       1
3       1
4       2
       ..
4617    1
4618    1
4619    1
4620    1
4621    1
Name: quantity, Length: 4622, dtype: int32

In [9]:
chipotle['revenue']=chipotle['quantity']*chipotle['item_price']

In [10]:
chipotle

,order_id,quantity,item_name,choice_description,item_price,Unnamed: 5,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,NaN,2.39
1,1,1,Izze,[Clementine],3.39,NaN,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,NaN,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,NaN,33.96
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,NaN,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,NaN,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,NaN,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,NaN,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,NaN,8.75

In [11]:
byo=chipotle.groupby(['order_id']).sum(['revenue'])
print(byo)

          quantity  item_price  Unnamed: 5  revenue
order_id
1                4       11.56         0.0    11.56
2                2       16.98         0.0    33.96
3                2       12.67         0.0    12.67
4                2       21.00         0.0    21.00
5                2       13.70         0.0    13.70
...            ...         ...         ...      ...
1830             2       23.00         0.0    23.00
1831             3       12.90         0.0    12.90
1832             2       13.20         0.0    13.20
1833             2       23.50         0.0    23.50
1834             3       28.75         0.0    28.75

[1834 rows x 4 columns]

In [12]:
print(byo.mean()['revenue'])

21.394231188658654

In [13]:
print(len(byo['quantity']))

1834

In [14]:
byin=chipotle.groupby(['item_name']).sum(['quantity'])

In [15]:
print(byin)
x = byin.sort_values(['quantity'], ascending = False)

                                       order_id  quantity  item_price  \
item_name
6 Pack Soft Drink                         52322        55      356.95
Barbacoa Bowl                             53972        66      672.36
Barbacoa Burrito                          74718        91      894.75
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Barbacoa Soft Tacos                       18725        25      250.46
Bottled Water                            175944       211      302.56
Bowl                                        472         4       29.60
Burrito                                    1550         6       44.40
Canned Soda                               76396       126      137.34
Canned Soft Drink                        304753       351      438.75
Carnitas Bowl                             62742        71      736.71
Carnitas Burrito                          51652        60      597.83
Carnitas Crispy Tacos                      5868         8       77.96
Carnitas Salad                             1500         1        8.99
Carnitas Salad Bowl                        6693         6       66.34
Carnitas Soft Tacos                       37673        40      375.94
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chicken Crispy Tacos                      47382        50      472.13
Chicken Salad                             10465         9       81.09
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Chips                                    208004       230      494.34
Chips and Fresh Tomato Salsa             100419       130      361.36
Chips and Guacamole                      449959       506     2201.04
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Crispy Tacos                                434         2       14.80
Izze                                      10587        20       67.80
Nantucket Nectar                          21814        29       98.31
Salad                                      1150         2       14.80
Side of Chips                             84769       110      185.90
Steak Bowl                               193752       221     2260.19
Steak Burrito                            328437       386     3851.43
Steak Crispy Tacos                        35818        36      357.34
Steak Salad                                2362         4       35.66
Steak Salad Bowl                          29590        31      343.59
Steak Soft Tacos                          50177        56      536.05
Veggie Bowl                               72270        87      867.99
Veggie Burrito                            80962        97      934.77
Veggie Crispy Tacos                         668         1        8.49
Veggie Salad                               7265         6       50.94
Veggie Salad Bowl                         17303        18      182.50
Veggie Soft Tacos                          5520         8       73.96

                                       Unnamed: 5  revenue
item_name
6 Pack Soft Drink                             0.0   369.93
Barbacoa Bowl                                 0.0   672.36
Barbacoa Burrito                              0.0   894.75
Barbacoa Crispy Tacos                         0.0   138.71
Barbacoa Salad Bowl                           0.0   106.40
Barbacoa Soft Tacos                           0.0   250.46
Bottled Water                                 0.0   649.18
Bowl                                          0.0    74.00
Burrito                                       0.0    44.40
Canned Soda                                   0.0   191.84
Canned Soft Drink                             0.0   603.75
Carnitas Bowl                                 0.0   830.71
Carnitas Burrito                              0.0   616.33
Carnitas Crispy Tacos                         0.0    95.94
Carnitas Salad                                0.0     8.99
Carnitas Salad Bowl                           0.0    66.34
Carnitas Soft Tacos                           0.0   375.94
Chicken Bowl                                  0.0  8044.63
Chicken Burrito                               0.0  6387.06
Chicken Crispy Tacos                          0.0   524.11
Chicken Salad                                 0.0    81.09
Chicken Salad Bowl                            0.0  1506.25
Chicken Soft Tacos                            0.0  1199.01
Chips                                         0.0   580.34
Chips and Fresh Tomato Salsa                  0.0  1033.96
Chips and Guacamole                           0.0  2475.62
Chips and Mild Fresh Tomato Salsa             0.0     3.00
Chips and Roasted Chili Corn Salsa            0.0    73.75
Chips and Roasted Chili-Corn Salsa            0.0    43.02
Chips and Tomatillo Green Chili Salsa         0.0   144.55
Chips and Tomatillo Red Chili Salsa           0.0   159.30
Chips and Tomatillo-Green Chili Salsa         0.0    88.43
Chips and Tomatillo-Red Chili Salsa           0.0    93.21
Crispy Tacos                                  0.0    14.80
Izze                                          0.0    67.80
Nantucket Nectar                              0.0   111.87
Salad                                         0.0    14.80
Side of Chips                                 0.0   290.68
Steak Bowl                                    0.0  2479.81
Steak Burrito                                 0.0  4236.13
Steak Crispy Tacos                            0.0   375.32
Steak Salad                                   0.0    35.66
Steak Salad Bowl                              0.0   391.15
Steak Soft Tacos                              0.0   554.55
Veggie Bowl                                   0.0   901.95
Veggie Burrito                                0.0  1002.27
Veggie Crispy Tacos                           0.0     8.49
Veggie Salad                                  0.0    50.94
Veggie Salad Bowl                             0.0   182.50
Veggie Soft Tacos                             0.0    90.94

In [16]:
print(x.head())

                     order_id  quantity  item_price  Unnamed: 5  revenue
item_name
Chicken Bowl           713926       761     7342.73         0.0  8044.63
Chicken Burrito        497303       591     5575.82         0.0  6387.06
Chips and Guacamole    449959       506     2201.04         0.0  2475.62
Steak Burrito          328437       386     3851.43         0.0  4236.13
Canned Soft Drink      304753       351      438.75         0.0   603.75

In [17]:
cansoda = chipotle[(chipotle.item_name == 'Canned Soda') & (chipotle.quantity>1)]

In [18]:
cansoda

,order_id,quantity,item_name,choice_description,item_price,Unnamed: 5,revenue
18,9,2,Canned Soda,[Sprite],2.18,NaN,4.36
51,23,2,Canned Soda,[Mountain Dew],2.18,NaN,4.36
162,73,2,Canned Soda,[Diet Coke],2.18,NaN,4.36
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18,NaN,4.36
350,150,2,Canned Soda,[Diet Coke],2.18,NaN,4.36
352,151,2,Canned Soda,[Coca Cola],2.18,NaN,4.36
698,287,2,Canned Soda,[Coca Cola],2.18,NaN,4.36
700,288,2,Canned Soda,[Coca Cola],2.18,NaN,4.36
909,376,2,Canned Soda,[Mountain Dew],2.18,NaN,4.36
1091,450,2,Canned Soda,[Dr. Pepper],2.18,NaN,4.36
1092,450,2,Canned Soda,[Coca Cola],2.18,NaN,4.36
1944,787,2,Canned Soda,[Dr. Pepper],2.18,NaN,4.36
2135,859,2,Canned Soda,[Diet Coke],2.18,NaN,4.36
2235,901,4,Canned Soda,[Sprite],4.36,NaN,17.44
2905,1156,2,Canned Soda,[Coca Cola],2.18,NaN,4.36
2906,1156,2,Canned Soda,[Sprite],2.18,NaN,4.36
3152,1258,2,Canned Soda,[Dr. Pepper],2.18,NaN,4.36
3364,1349,2,Canned Soda,[Coca Cola],2.18,NaN,4.36
3592,1440,2,Canned Soda,[Diet Coke],2.18,NaN,4.36
3866,1550,2,Canned Soda,[Mountain Dew],2.18,NaN,4.36

In [25]:
byi=chipotle.groupby(['item_name']).sum(['quantity'])
print(byi)

                                       order_id  quantity  item_price  \
item_name
6 Pack Soft Drink                         52322        55      356.95
Barbacoa Bowl                             53972        66      672.36
Barbacoa Burrito                          74718        91      894.75
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Barbacoa Soft Tacos                       18725        25      250.46
Bottled Water                            175944       211      302.56
Bowl                                        472         4       29.60
Burrito                                    1550         6       44.40
Canned Soda                               76396       126      137.34
Canned Soft Drink                        304753       351      438.75
Carnitas Bowl                             62742        71      736.71
Carnitas Burrito                          51652        60      597.83
Carnitas Crispy Tacos                      5868         8       77.96
Carnitas Salad                             1500         1        8.99
Carnitas Salad Bowl                        6693         6       66.34
Carnitas Soft Tacos                       37673        40      375.94
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chicken Crispy Tacos                      47382        50      472.13
Chicken Salad                             10465         9       81.09
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Chips                                    208004       230      494.34
Chips and Fresh Tomato Salsa             100419       130      361.36
Chips and Guacamole                      449959       506     2201.04
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Crispy Tacos                                434         2       14.80
Izze                                      10587        20       67.80
Nantucket Nectar                          21814        29       98.31
Salad                                      1150         2       14.80
Side of Chips                             84769       110      185.90
Steak Bowl                               193752       221     2260.19
Steak Burrito                            328437       386     3851.43
Steak Crispy Tacos                        35818        36      357.34
Steak Salad                                2362         4       35.66
Steak Salad Bowl                          29590        31      343.59
Steak Soft Tacos                          50177        56      536.05
Veggie Bowl                               72270        87      867.99
Veggie Burrito                            80962        97      934.77
Veggie Crispy Tacos                         668         1        8.49
Veggie Salad                               7265         6       50.94
Veggie Salad Bowl                         17303        18      182.50
Veggie Soft Tacos                          5520         8       73.96

                                       Unnamed: 5  revenue
item_name
6 Pack Soft Drink                             0.0   369.93
Barbacoa Bowl                                 0.0   672.36
Barbacoa Burrito                              0.0   894.75
Barbacoa Crispy Tacos                         0.0   138.71
Barbacoa Salad Bowl                           0.0   106.40
Barbacoa Soft Tacos                           0.0   250.46
Bottled Water                                 0.0   649.18
Bowl                                          0.0    74.00
Burrito                                       0.0    44.40
Canned Soda                                   0.0   191.84
Canned Soft Drink                             0.0   603.75
Carnitas Bowl                                 0.0   830.71
Carnitas Burrito                              0.0   616.33
Carnitas Crispy Tacos                         0.0    95.94
Carnitas Salad                                0.0     8.99
Carnitas Salad Bowl                           0.0    66.34
Carnitas Soft Tacos                           0.0   375.94
Chicken Bowl                                  0.0  8044.63
Chicken Burrito                               0.0  6387.06
Chicken Crispy Tacos                          0.0   524.11
Chicken Salad                                 0.0    81.09
Chicken Salad Bowl                            0.0  1506.25
Chicken Soft Tacos                            0.0  1199.01
Chips                                         0.0   580.34
Chips and Fresh Tomato Salsa                  0.0  1033.96
Chips and Guacamole                           0.0  2475.62
Chips and Mild Fresh Tomato Salsa             0.0     3.00
Chips and Roasted Chili Corn Salsa            0.0    73.75
Chips and Roasted Chili-Corn Salsa            0.0    43.02
Chips and Tomatillo Green Chili Salsa         0.0   144.55
Chips and Tomatillo Red Chili Salsa           0.0   159.30
Chips and Tomatillo-Green Chili Salsa         0.0    88.43
Chips and Tomatillo-Red Chili Salsa           0.0    93.21
Crispy Tacos                                  0.0    14.80
Izze                                          0.0    67.80
Nantucket Nectar                              0.0   111.87
Salad                                         0.0    14.80
Side of Chips                                 0.0   290.68
Steak Bowl                                    0.0  2479.81
Steak Burrito                                 0.0  4236.13
Steak Crispy Tacos                            0.0   375.32
Steak Salad                                   0.0    35.66
Steak Salad Bowl                              0.0   391.15
Steak Soft Tacos                              0.0   554.55
Veggie Bowl                                   0.0   901.95
Veggie Burrito                                0.0  1002.27
Veggie Crispy Tacos                           0.0     8.49
Veggie Salad                                  0.0    50.94
Veggie Salad Bowl                             0.0   182.50
Veggie Soft Tacos                             0.0    90.94