In [1]:
filename = 'expgraph.txt'
file = open(filename, "r")

In [2]:
file.seek(0)

for line in file:
    print(line)
    for word in line.split():
        print(word)

ï»¿The fast dog ran to the sleeping cat.

ï»¿The
fast
dog
ran
to
the
sleeping
cat.




The dog took the toy.

The
dog
took
the
toy.




The cat woke up.

The
cat
woke
up.




The cat saw the fast dog with the toy.The cat was sad.
The
cat
saw
the
fast
dog
with
the
toy.The
cat
was
sad.

In [3]:
file.seek(0)
a = file.readline()
print(a)
file.close()

ï»¿The fast dog ran to the sleeping cat.

In [4]:
file=open(filename,"a") #open in append mode
file.writelines("The cat was sad.")
file.close()

In [5]:
file=open(filename,"r")
file.seek(0)
#print line and words in line
for line in file:
    print(line)
    for word in line.split():
        print(word)
file.close()

ï»¿The fast dog ran to the sleeping cat.

ï»¿The
fast
dog
ran
to
the
sleeping
cat.




The dog took the toy.

The
dog
took
the
toy.




The cat woke up.

The
cat
woke
up.




The cat saw the fast dog with the toy.The cat was sad.The cat was sad.
The
cat
saw
the
fast
dog
with
the
toy.The
cat
was
sad.The
cat
was
sad.

In [6]:
import pandas as pd
students = pd.read_csv('C:/Users/smrit/Downloads/exsheet.csv')

In [7]:
students

  Student  Subject  Score
0     Bob  English     70
1     Rob  English     94
2     Cob  English     85
3     Lob     Math    100
4    Knob     Math     50

In [8]:
print(students.Score[1])

94

In [9]:
x = students.Subject

In [10]:
subj = []
for i in range(len(x)):
    if x[i] not in subj:
        subj.append(x[i])

In [11]:
print(subj)

['English', 'Math']

In [12]:
for subje in subj:
    maxscore = 0
    maxname = ''
    for j in range(len(x)):
        if students.Subject[j] == subje and maxscore < students.Score[j]:
            maxscore = students.Score[j]
            maxname = students.Student[j]
    print('The highest score for ' + str(subje) + ' is ' + str(maxscore) + ' from ' + str(maxname))

The highest score for English is 94 from Rob
The highest score for Math is 100 from Lob

In [13]:
name = input('name please')
subject = input('subject please')
score = int(input('score please'))

name pleasePob
subject pleaseMath
score please75

In [14]:
df = {'Student':name, 'Subject':subject, 'Score':score}

In [15]:
students.append(df, ignore_index = True)

  Student  Subject  Score
0     Bob  English     70
1     Rob  English     94
2     Cob  English     85
3     Lob     Math    100
4    Knob     Math     50
5     Pob     Math     75