In [1]:
import pandas as pd
sna = pd.read_csv('C:/Users/smrit/Downloads/Social_Network_Ads.csv')

In [2]:
sna

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
purch = 0

for i in range(len(sna.Purchased)):
    if sna.Purchased[i] == 1:
        purch += 1
        
print(str(purch) + ' people purchased the product after they saw the ad.')

143 people purchased the product after they saw the ad.

In [4]:
target = sna.Purchased

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso

In [6]:
df = pd.read_csv('C:/Users/smrit/Downloads/Social_Network_Ads.csv', usecols = ['Age','EstimatedSalary'], low_memory = False)

In [7]:
df

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [8]:
X_train, X_test, y_train, y_test=train_test_split(df, sna.Purchased, random_state=0, stratify=sna.Purchased)

In [9]:
print(y_train.shape)

(300,)

In [10]:
logit=LogisticRegression().fit(X_train,y_train)
print(logit.intercept_)
print(logit.coef_)

[-2.34012561e-10]
[[-2.41940158e-09 -2.40941560e-06]]

In [11]:
pred=logit.predict(X_test)

In [12]:
print(sum(pred!=y_test))

36

In [13]:
y = print(sum(pred==y_test))
y

64

In [14]:
print(64/100)

0.64

In [15]:
X_train, X_test, y_train, y_test=train_test_split(df, sna.Purchased, random_state=0, stratify=sna.Purchased, train_size = 0.9, test_size = 0.1)

In [16]:
pred=logit.predict(X_test)

In [17]:
print(sum(pred!=y_test))

14

In [18]:
print(sum(pred==y_test))

26

In [19]:
print(26/40)

0.65

In [20]:
X_train, X_test, y_train, y_test=train_test_split(df, sna.Purchased, random_state=0, stratify=sna.Purchased, train_size = 0.95, test_size = 0.05)

In [21]:
pred=logit.predict(X_test)

In [22]:
print(sum(pred!=y_test))

7

In [23]:
print(sum(pred==y_test))

13

In [24]:
print(13/20)

0.65